@import 'tailwindcss';

@layer {
    .forgetpassword_container {
        @apply min-h-screen bg-gray-50 flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8;
    }

    .error_container {
        @apply bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded;
    }

    .message_container {
        @apply bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded
    }

    .form {
        @apply bg-white p-8 rounded-lg shadow-md space-y-6;
    }

    label {
        @apply block text-sm font-medium text-gray-700 mb-2;
    }

    input {
        @apply w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500;
    }

    .btn_reset {
        @apply w-full bg-blue-600 text-white py-3 px-4 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 disabled:bg-gray-400 disabled:cursor-not-allowed;
    }

    .btn_email {
        @apply w-full bg-gray-200 text-gray-700 py-3 px-4 rounded-md hover:bg-gray-300;
    }

    
}