@import 'tailwindcss';

@layer {
    .checkbox_input {
        @apply h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded;
    }

    .checkbox_label {
        @apply ml-2 block text-sm text-gray-700;
    }

    .btn_create {
        @apply text-blue-600 hover:text-blue-700 font-medium;
    }

    .btn_google, .btn_facebook {
        @apply w-full inline-flex justify-center py-2 px-4 border border-gray-300 rounded-md shadow-sm bg-white text-sm font-medium text-gray-500 hover:bg-gray-50;
    }
}